/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgba(244, 245, 247, 255);
    font-family: 'Source Sans Pro', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
:root {
    --azul: rgba(43,53,89,255);
    --negroligero: rgba(18,18,18,255);
}