/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgba(244, 245, 247, 255);
    font-family: 'Source Sans Pro', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
:root {
    --azul: rgba(43,53,89,255);
    --negroligero: rgb(120, 120, 120);
    --grisInput: rgb(225, 225, 225);
    --rojoError: rgb(196, 53, 58);
}

.barra-oculta {
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 18rem;
    text-align: center;
    align-items: center;
    display: none;
}
.barra-activa {
    display: flex;
    flex-direction: column;
    color: white;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 18rem;
    text-align: center;
    align-items: center;
}